# ─── Kinetia ────────────────────────────────────────────────────────────────
kinetia.cl {
    handle /api/* {
        reverse_proxy api:3000
    }

    handle {
        reverse_proxy web:80
    }

    log {
        output file /var/log/caddy/kinetia.log
        format json
    }
}

www.kinetia.cl {
    redir https://kinetia.cl{uri} permanent
}

# ─── Panorama ───────────────────────────────────────────────────────────────
panorama.kinetia.cl {
    handle /api/* {
        reverse_proxy panorama_api:3000
    }

    handle {
        reverse_proxy panorama_web:80
    }

    log {
        output file /var/log/caddy/panorama.log
        format json
    }
}
